.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/backGround.jpg"); */
}

@media (max-width: 450px) {
  .App {
    padding: 0 3%;
  }
}
